PROJECT_NAME=Project-Manager
NODE_VERSION=16
API_PORT=3000
API_SECRET="supersecret"
SESSION_SECRET="sessionsecret"
POSTGRES_PORT=5432
POSTGRES_DB=project-manager
POSTGRES_USER=user
POSTGRES_PASSWORD=password
REDIS_PORT=6379
